@model BlogMvc.Models.DetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row p-5 m-3 border border-dark" >
    <div class="col-sm-12 pt-2 pb-5">
        <h1 class="text-right">@Model.Title</h1>
        <h3 class="text-right">@Model.SubTitle</h3>
        <h6 class="text-right"><i>@Model.DateTime.ToShortDateString()</i></h6>
        <div>@Model.Body</div>
    </div>
</div>
<div  style="padding-top:10px">
    @Html.ActionLink("К списку", "ListArticle", "Article")
</div>

