@model BlogMvc.Models.DetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container row" style="border:1px solid grey; padding:50px;margin:10px">
    <h1 class="text-right">@Model.Title</h1>
    <h3 class="text-right">@Model.SubTitle</h3>
    <h6 class="text-right"><i>@Model.DateTime.ToShortDateString()</i></h6>
    <div>@Model.Body</div>
</div>
@Html.ActionLink("К списку","ListArticle","Article")


